@font-face {
    font-family: 'calibri';
    src: url('fonts/calibri.eot');
    src: local('â˜º'), url('fonts/calibri.woff') format('woff'), url('fonts/calibri.ttf') format('truetype'), url('fonts/calibri.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: url('fonts/AvenirNextLTPro-Bold.eot');
    src: local('â˜º'), url('fonts/AvenirNextLTPro-Bold.woff') format('woff'), url('fonts/AvenirNextLTPro-Bold.ttf') format('truetype'), url('fonts/AvenirNextLTPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('fonts/AvenirNextLTPro-Regular.eot');
    src: local('â˜º'), url('fonts/AvenirNextLTPro-Regular.woff') format('woff'), url('fonts/AvenirNextLTPro-Regular.ttf') format('truetype'), url('fonts/AvenirNextLTPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nordikka W00 Bold';
    src: url('fonts/Nordikka W00 Bold.eot');
    src: local('â˜º'), url('fonts/Nordikka W00 Bold.woff') format('woff'), url('fonts/Nordikka W00 Bold.ttf') format('truetype'), url('fonts/Nordikka W00 Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color:#999;
    opacity: 1;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color:#999;
    opacity: 1;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color:#999;
    opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color:#999;
    opacity: 1;
}
input,
textarea {
    font-family: Arial;
    font-weight: bold;
}
textarea {
    
}

body {
    font: 16px/26px Arial, Helvetica, Helvetica Neue;
    background-color: #fff;
}
p,a,span {
    font-family: Arial;
    font-size: 1em;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: Arial;
}
b, strong {
    font-weight: bold;
}



.wrapper {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}

header {
    text-align: left;
    position: relative;
}

.search {
    position: absolute;
    right: 0;
    top: 60px;
    width: 400px;
    margin-left: 15px;
}
.search img {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-bottom: -70px;
    margin-left: 6px;
}
.search input {
    display: inline-block;
    border-radius: 6px;
    width: 100%;
    padding: 10px;
    padding-left: 36px;
}
.logo {
    padding: 40px 0;
    
}
.logo img {
    width: 300px;
    margin: 0;
}


.bio-title {
    padding-left: 0;
}
.person-banner {
    border-bottom: 10px solid #1b75bc;
    text-align: left;
}
.person-photo {
    width: 30%;
    display: inline-block;
    vertical-align: bottom;
}

.person-graph {
    width: 69%;
    display: inline-block;
    vertical-align: bottom;
}
.person-photo img {
    width: 100%;
    margin: 0;
}

.person-graph img {
    width: 100%;
    margin: 0;
}

.bio-title {
    color: #1b75bc;
    font-family: Arial;
    text-align: left;
    font-size: 40px;
    font-weight: 900;
}



.person-info-row {
        text-align: left;
}






.person-description {
    width: 30%;
    float: left;
    display: inline-block;
    vertical-align: top;
    background-color: #1b75bc;
    color: #fff;
    padding: 30px 25px;
}

.person-comments {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding: 30px 25px;
}
.menu-posts {
    width: 300px;
    float: right;
    vertical-align: top;
}
.menu-posts ul li a {
    color: #1b75bc;
    font-size: 22px;
    font-family: Arial;
    font-weight: 900;
    -webkit-transition: all 0.5s;
    transition:all 0.5s;
}
.menu-posts ul li a:hover {
    color: #f9cf20;

}
.menu-posts ul {
    list-style: none;
}

.comment-title {
    margin: 0;
}

.comment-entry-area {
    margin-top: 20px;
}

.comment-avatar {
    width: 70px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.comment-avatar img {
    margin: 0;
    margin-right: 20px;
}

.text-comment-area {
    vertical-align: top;
    display: inline-block;
    width: 70%;
    
    
}
.text-comment-area textarea {
    border-radius: 4px;
    padding: 4px 10px;
    height: 74px;
    width: 100%;
}

.respond-for-comment {
    margin: 10px;
}
.resp-avatar {
    float: left;
    margin-right: 10px;
}
.resp-avatar img {
    margin: 0;
}
.resp-content__text p {
    font-weight: 600;
}

div img {
    margin: 40px;
}

footer {
    background-color: #fff;
    padding: 4px 40px;
    text-align: center;
}
footer p {

}


