@media only screen and (max-width : 980px) {
	.person-description {
	    width: 100%;
	    float: none;
	    display: block;

	}

	.person-comments {
	    width: 100%;
	    display: block;

	}
	.menu-posts {
	    width: 100%;
	    float: none;
	}
}

@media only screen and (max-width : 700px) {
	.search {
	    position: absolute;
	    right: auto;
	    left: 0;
	    top: 150px;
	    width: 200px;
	}
	.logo {
	    padding: 40px 0 100px;
	    
	}
	.bio-title {
	    padding-left: 15px;
	}
}


@media only screen and (min-width : 980px) {
    nav {
        display: block!important;
    }
}
