<html class="gr__1157828_ethirka_web_hosting-test_net"><head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Голосно</title>
        <meta name="description" content="">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/responsive.css">
    </head>
    <div class="gr-top-z-index gr-top-zero" tabindex="-1"><div class="_30JeG _2_2SE OkCGU" style="transform: translate(868.044px, 724.531px);"><div class="_2A3ER"><div class="_1y1wn _2R8DE undefined"></div><div class="_24Em3"><div style="display: initial;"><div class="_21QaI _1L80j" tabindex="-1"></div></div></div><div class="_2-7o4"></div><div class="_24Em3"><div style="display: initial;"><div class="_21QaI _1pbTT _12R0B" data-action="editor" tabindex="-1">1</div></div></div></div></div></div><div style="visibility: hidden; top: -9999px; position: absolute; opacity: 0;"><div class="_30JeG _2_2SE OkCGU" style="transform: translate(933.044px, 739.531px);"><div class="_2A3ER"><div class="_1y1wn _2R8DE undefined"></div><div class="_24Em3"><div style="display: initial;"><div class="_21QaI _1L80j" tabindex="-1"></div></div></div><div class="_2-7o4"></div><div class="_24Em3"><div style="display: initial;"><div class="_21QaI _1pbTT _12R0B" data-action="editor" tabindex="-1">1</div></div></div></div></div></div><div style="visibility: hidden; top: -9999px; position: absolute; opacity: 0;"></div><body data-gr-c-s-loaded="true">
        <div class="wrapper">

            <header>

                <div class="logo">
                    <img src="/static/logo_golosno.png" alt="Голосно">
                </div>

                <div class="search">
                    <img src="/static/search-icon.png" alt="S">
                    <input type="text" placeholder="Пошук...">
                </div>

            </header>

            <div class="person-banner">
                <div class="person-photo">
                    <img src="/static/person-photo.jpg" alt="Person-photo">
                </div>
                <div class="person-graph">
                    <img src="/static/person-info.jpg" alt="Person-graph">
                </div>
            </div>

            <h2 class="bio-title">Біографія</h2>

            <div class="person-info-row">

                <div class="person-description">
                    Петро́ Олексі́йович Пороше́нко (нар. 26 вересня 1965, Болград, УРСР) — український політик, державний діяч, п'ятий Президент України (з 7 червня 2014 року).

                    В минулому народний депутат III, IV, V та VII скликань, працював міністром закордонних справ (2009—2010), міністром економічного розвитку та торгівлі (березень — грудень 2012), членом Ради НБУ (2007—2014).

                    Підприємець та олігарх[2][3]: власник кондитерської корпорації «Рошен», кількох автомобільних і автобусних заводів, інформаційного П'ятого каналу тощо. Згідно з рейтингом журналу «Фокус» 2016 року, в списку найбагатших людей України Порошенко змістився з 8-ї на 10-ту сходинку, при цьому його статки оцінені у 589 млн $.[4]

                    Лауреат Премії України у галузі науки і техніки, заслужений економіст України, Кандидат юридичних наук.
                </div>

                <div class="person-comments">
                    <h2 class="comment-title">Коментарі:</h2>
                    <div class="comment-entry-area">
                        <div class="comment-avatar">
                            <img src="/static/avatar.jpg" alt="avatar">
                        </div>
                        <div class="text-comment-area">
                        <form action="/post_opinion", method="post">
                            <textarea name="content" placeholder="Залишити коментар..." style="z-index: auto; position: relative; line-height: 26px; font-size: 16px; transition: none 0s ease 0s; background: transparent !important;"></textarea>
                            <input type="text" name="politic" placeholder="Who are you talking about " class="field" >
                            <input type="text" name="author"  placeholder="Tell us who you are" class="field" >
                            <button type="submit">Submit</button>
                        </form>
                        </div>
                    </div>
                {% for opinion in opinions %}
                    <div class="respond-for-comment">
                        <div class="resp-avatar">
                            <img src="https://api.adorable.io/avatars/64/{{ opinion.timestamp }}.png"/>
                        </div>
                        <div class="resp-content">
                            <div class="resp-content__text">
                                <p>{{ opinion.content }}</p>
                            </div>
                            <div class="resp-content__links">
                                <span>{{ opinion.author }}</span>·
                                <span>{{ opinion.timestamp }}</span>·
                                <span><a href="#">Відповісти</a></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>

                <div class="menu-posts">
                    <ul>
                        <li>
                            <a href="#">президент</a>
                        </li>
                        <li>
                            <a href="#">Рошен</a>
                        </li>
                        <li>
                            <a href="#">Порошенко</a>
                        </li>
                        <li>
                            <a href="#">корупція</a>
                        </li>
                        <li>
                            <a href="#">політика</a>
                        </li>
                    </ul>





                </div>


            </div>





            <div>

            </div>

            <footer>

            </footer>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="js/main.js"></script>

</body><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span><div><div class="gr_-editor gr-iframe-first-load" style="display: none;"><div class="gr_-editor_back"></div><iframe class="gr_-ifr gr-_dialog-content"></iframe></div></div><grammarly-card><div></div></grammarly-card></html>
